<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Test</title>
</head>
<body onload="func()">
fuck



<div>
<input id="alltext" value="0" />
<button onclick="add_06(event)">+0.6</button>
<button onclick="add_085(event)">+0.85</button>
<button onclick="add_12(event)">+1.2</button>
<button onclick="add_16(event)">+1.6</button>
<p>
	<input id="trace" style="border: none;" />
</p>

<script src="http://punin.ho.ua/calc.js"></script>
<!--
<script>

function add_06(event) {
	var targ = 0.6
	var current = document.getElementById("alltext").value
	current = +current + +targ
	current = current.toFixed(2)
	document.getElementById("alltext").value = current;

	var a = "[1] ";
	var sled = document.getElementById("trace").value;
	sled = sled + a;
	document.getElementById("trace").value = sled;

}
function add_085(event) {
	var targ = 0.85
	var current = document.getElementById("alltext").value
	var current = +current + +targ
	var current = current.toFixed(2)
	document.getElementById("alltext").value = current

	var a = "[2] ";
	var sled = document.getElementById("trace").value;
	sled = sled + a;
	document.getElementById("trace").value = sled;
}
function add_12(event) {
	var targ = 1.2
	var current = document.getElementById("alltext").value
	var current = +current + +targ
	var current = current.toFixed(2)
	document.getElementById("alltext").value = current

	var a = "[3] ";
	var sled = document.getElementById("trace").value;
	sled = sled + a;
	document.getElementById("trace").value = sled;
}
function add_16(event) {
	var targ = 1.6
	var current = document.getElementById("alltext").value
	var current = +current + +targ
	var current = current.toFixed(2)
	document.getElementById("alltext").value = current

	var a = "[4] ";
	var sled = document.getElementById("trace").value;
	sled = sled + a;
	document.getElementById("trace").value = sled;
}
</script>

</div>
-->



<!--

<div>
	n1 <input type = "number" id = "n1" value=15 />
	n2 <input type = "number" id = "n2" value=20 />
	n <input type="number" id="n"/>

<p>Sum?</p>
<button onclick="sum()">Try it</button>
<p id="demo2">Result?? </p>
<input id="demo2"/>
<script type="text/javascript">
	 function sum() 
{ 
    var fn, ln, result; 
    fn = parseInt(document.getElementById("n1").value, 10);
    ln = parseInt(document.getElementById("n2").value, 10);
    result =  (fn+ln); 
    document.getElementById("demo2").innerHTML = result; 
}
</script>
</div>




</div>

-->




</body>
</html>