<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="UTF-8">
    <title>Калькулятор</title>
    <script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script>
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
    <meta name="viewport" content="widh=device-width, initial-scale=1">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    <!-- Optional theme -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
</head>
<body>
    
    <div class="container">
        <h1>Калькулятор бабла</h1>
        <p><i>Мы любим деньги, а деньги любят счет</i></p>
    </div>

    <div class="container-fluid">
        <div class="row">
            <div class="col-md-4" style="background-color: #edffd5; height: 440px; position: relative;">
                <h4 align="center">BB</h4>



                <form class='form-horizontal' method="POST" id="BB_form">
                    {% csrf_token %}

                    <div class="form-group">
                        <label  for="sdano" class="col-sm-6 control-label">Сдано:</label> 
                        <div class="col-sm-2">
                        <input type="number" step="0.01" value="" name="sdano" id="sdanoBB" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label for='min_m' class='col-sm-6 control-label'>Минимальный вес:</label>
                        <div class="col-sm-2">
                        <input type="number" step="0.01" value="" name="min_m" id="min_mBB" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="ordered_m" class='col-sm-6 control-label'>Заказанный вес:</label>
                        <div class="col-sm-2"> 
                        <input type="number" step="0.01" value="" name="ordered_m" id="ordered_mBB" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for='g_price' class='col-sm-6 control-label'>Базовая цена за грамм:</label>  
                        <div class="col-sm-2">
                        <input id="alltext" value="0" name="g_price"/>
                        </div>
                    


                    <div class="form-group">
                        <div class='col-sm-6'>
                        <input id="trace" size="28" style="border: none; background-color: #edffd5;"/>
                        </div>
                        
                        <div class="col-md-6 control-label"> 
                        <button type="button" class="btn btn-primary btn-xs" onclick="add_06(event)">+0.6</button>
                        <button type="button" class="btn btn-primary btn-xs" onclick="add_085(event)">+0.85</button>
                        <button type="button" class="btn btn-primary btn-xs" onclick="add_12(event)">+1.2</button>
                        <button type="button" class="btn btn-primary btn-xs" onclick="add_16(event)">+1.6</button>
                        </div>
                    </div>
                        
                    </div>

                    <input type="hidden" value="BB_form" name="form_type" id="BB_form">

                
                    <div class="col-sm-12" align="center">
                    <input type="radio" name="BB" id="B1" value="B1">
                        <label for='B2'>B1 &nbsp</label>
                    <input type="radio" name="BB" id="B2" value="B2">
                        <label for='B2'>B2 &nbsp</label>
                    <input type="radio" name="BB" id="B3" value="B3">
                        <label for='B3'>B3 &nbsp</label>
                    <input type="radio" name="BB" id="B4" value="B4">
                        <label for='B4'>B4 &nbsp</label>
                    </div>
                    <div class="col-sm-12" align="center">
                    <input type="radio" name="BB" id="B5" value="B5">
                        <label for='B4'>B5 &nbsp</label>
                    <input type="radio" name="BB" id="B6" value="B6">
                        <label for='B4'>B6 &nbsp</label>
                    <input type="radio" name="BB" id="B7" value="B7">
                        <label for='B4'>B7 &nbsp</label>
                    <input type="radio" name="BB" id="B8" value="B8">
                        <label for='B4'>B8 &nbsp</label>
                    </div>
                    

                    <div class="col-sm-12" align="right" style="position: absolute; bottom: 0px; right: 0px">
                    <button type="button" class="btn btn-success btn-md btn-block" onclick="ajaxBB(event)">Считать бабло</button>
                    </div>
                </form>
            </div>







            <div class="col-md-4" style="background-color: #ffcdf0; height: 440px; position: relative;">
                <h4 align="center">КД</h4>
                <form class='form-horizontal' method="POST" id="KD_form">
                    {% csrf_token %}

                    <div class="form-group">
                        <label  for='sdano' class="col-sm-6 control-label">Сдано:</label> 
                        <div class="col-sm-2">
                        <input type="number" step="0.01" value="" name="sdano" id="sdanoKD" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="ordered_m" class='col-sm-6 control-label'>Заказанный вес:</label>
                        <div class="col-sm-2"> 
                        <input type="number" step="0.01" value="" name="ordered_m" id="ordered_mKD" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label for='g_price' class='col-sm-6 control-label'>Базовая цена за грамм:</label>  
                        <div class="col-sm-2">
                        <input id="KDjs" value="0" name="g_price"/>
                        </div>
                    


                    <div class="form-group">
                        <div class='col-sm-6'>
                        <input id="kdtrace" size="28" style="border: none; background-color: #ffcdf0;"/>
                        </div>
                        
                        <div class="col-md-6 control-label"> 
                        <button type="button" class="btn btn-primary btn-xs" onclick="KDadd_06(event)">+0.6</button>
                        <button type="button" class="btn btn-primary btn-xs" onclick="KDadd_085(event)">+0.85</button>
                        <button type="button" class="btn btn-primary btn-xs" onclick="KDadd_12(event)">+1.2</button>
                            <button type="button" class="btn btn-primary btn-xs" onclick="KDadd_16(event)">+1.6</button>
                        </div>
                    </div>


                        
                    </div>

                    <input type="hidden" value="KD_form" name="form_type">

                    <div class="col-sm-12" align="center">                  
                    <input type="radio" name="KD" id="KD1" value="KD1">
                        <label for='B2'>КД1 &nbsp</label>               
                    <input type="radio" name="KD" id="KD2" value="KD2">
                        <label for='B2'>КД2 &nbsp</label>                   
                    <input type="radio" name="KD" id="KD3" value="KD3">
                        <label for='B3'>КД3 &nbsp</label>
                    <input type="radio" name="KD" id="KD4" value="KD4">
                        <label for='B4'>КД4 &nbsp</label>
                    </div>
                    

                    <div class="col-sm-12" align="right" style="position: absolute; bottom: 0px; right: 0px">
                    <button type="button" onclick="ajaxKD(event)" class="btn btn-success btn-md btn-block">Считать бабло</button>
                    </div>
                </form>
                
                
            </div>
            <div class="col-md-4" style="background-color: #cbe1ff; height: 440px; position: relative;">
                <h4 align="center">N</h4>
                <form class='form-horizontal' action="" method="POST">
                    {% csrf_token %}

                    <div class="form-group">
                        <label  for='sdano' class="col-sm-6 control-label">Сдано:</label> 
                        <div class="col-sm-2">
                        <input type="number" step="0.01" value="" name="sdano" id="sdanoN" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label for="ordered_m" class='col-sm-6 control-label'>Заказанный вес:</label>
                        <div class="col-sm-2"> 
                        <input type="number" step="0.01" value="" name="ordered_m" id="ordered_mN" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label for='N_price' class='col-sm-6 control-label'>N:</label>  
                        <div class="col-sm-2">
                        <input type="number" step="0.01" value="" name="N_price" id="N_price" />
                        </div>
                    </div>


                    <input type="hidden" value="N_form" name="form_type">
                    <div class="col-sm-12" align="right" style="position: absolute; bottom: 0px; right: 0px">
                    <button type="button" onclick="ajaxN(event)" class="btn btn-success btn-md btn-block">Считать бабло</button>
                    </div>
                </form>
            </div>
        </div>
    </div>  

<!--
<div class="container" style="position: relative; top: 15px">
<p align="center"><font style="font-size:24px"; color="blue">{{ordered_money}}</font></p>
</div>


<div id="result" class="container" style="position: relative; top: 40px">
<p  align="center"><font style="font-size:120px"; color="green">{{money}}</font></p>
</div>
-->

<!--<script src="http://punin.ho.ua/calc.js"></script>
-->
<script src="/calc/calc.js"></script>

<script type="text/javascript">
    
    function ajaxBB(event){
        var form_type = "BB_form";
        var sdano = document.getElementById("sdanoBB").value;
        var ordered_m = document.getElementById("ordered_mBB").value;
        var g_price = document.getElementById("alltext").value;
        var min_m = document.getElementById("min_mBB").value;

        if (document.getElementById("B1").checked == true) var radio = 'B1';
        else if (document.getElementById("B2").checked == true) var radio = 'B2';
        else if (document.getElementById("B3").checked == true) var radio = 'B3';
        else if (document.getElementById("B4").checked == true) var radio = 'B4';
        else if (document.getElementById("B5").checked == true) var radio = 'B5';
        else if (document.getElementById("B6").checked == true) var radio = 'B6';
        else if (document.getElementById("B7").checked == true) var radio = 'B7';
        else if (document.getElementById("B8").checked == true) var radio = 'B8';

        
        $.ajax({
            type: "POST",
            url: 'ajax',
            data: ({form_type : form_type, sdano : sdano, ordered_m : ordered_m, g_price : g_price, min_m : min_m, radio : radio}),
            dataType: 'text',
            success: function(data){  
            $('#result').text(data)
            }

         
       })
    }
</script>

<script type="text/javascript">
    function ajaxKD(event){
        var form_type = "KD_form";
        var sdano = document.getElementById("sdanoKD").value;
        var ordered_m = document.getElementById("ordered_mKD").value;
        var g_price = document.getElementById("KDjs").value;

        if (document.getElementById("KD1").checked == true) var radio = 'KD1';
        else if (document.getElementById("KD2").checked == true) var radio = 'KD2';
        else if (document.getElementById("KD3").checked == true) var radio = 'KD3';
        else if (document.getElementById("KD4").checked == true) var radio = 'KD4';

        $.ajax({
            type: "POST",
            url: 'ajax',
            data: ({form_type : form_type, sdano : sdano, ordered_m : ordered_m, g_price : g_price, radio : radio}),
            dataType: 'text',
            success: function(data){
            $('#result').text(data)
            }

        })
    }    
</script>

<script type="text/javascript">
    function ajaxN(event){
        var form_type = "N_form";
        var sdano = document.getElementById("sdanoN").value;
        var ordered_m = document.getElementById("ordered_mN").value;
        var N_price = document.getElementById("N_price").value;

        $.ajax({
            type: "POST",
            url: 'ajax',
            data: ({form_type : form_type, sdano : sdano, ordered_m : ordered_m, N_price : N_price}),
            dataType: 'text',
            success: function(data){
            $('#result').text(data)
            }

        })
    }
</script>



<!--
<div class="container" style="position: relative; top: 15px">
<p align="center"><font style="font-size:24px"; color="blue">{{ordered_money}}</font></p>
</div>
-->

<div class="container" style="position: relative; top: 35px">
<p align="center"><font id="result" style="font-size:120px"; color="green"></font></p>
</div>

</body>
</html>